@import "../../assets/mixins/mixins.scss";
@import "../../assets/font/font.scss";
@import "../../assets/colors/colors.scss";

//! Non Responsive
//? Refresh Fix
.refresh_fix {
  position: fixed;
  width: 100%;
  height: 120%;
  z-index: 1000;
  background-color: white;
  display: grid;
  place-items: center;

  img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100px;
  }
}

//? Back To Top
.back_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 3px solid $Zuccini !important;
  border-radius: 50%;
  outline: none !important;
  background-color: white;
  color: $Zuccini;
  width: 50px;
  height: 50px;
  @include tLC;
  filter: drop-shadow(0 4px 1px rgba(0, 0, 0, 0.246));
  font-size: 32px;
  z-index: 800;

  &:hover {
    background-color: $Zuccini;
    color: white;
  }
}

//! Responsive
@media all and (max-width: 1995px) {
}

@media all and (max-width: 991px) {
  .back_to_top {
    right: 10px;
  }
}

@media (min-width: 992px) {
}

@media all and (max-width: 768px) {
}

/*! Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/*! Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/*! iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/*! Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
